---
- name: copy config files
  copy: >
    dest="{{ item.0.home }}"
    group="{{ item.0.group }}"
    mode="0644"
    owner="{{ item.0.name }}"
    src="{{ bash_configs_path }}{{ item.1 }}"
  with_subelements:
    - bash_users
    - configs
