---
- name: install pre-packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  with_items: "{{ bash_pre_packages }}"

- name: install package
  apt: >
    force=yes
    pkg=bash
    state=present
