; localhost
localhost                               ansible_host=127.0.0.1 ansible_connection=local

; project_x
name11.dev.lan                          ansible_host=192.168.1.101 ansible_user=vagrant ansible_private_key_file=~/.vagrant.d/insecure_private_key
name.stage.com-A                        ansible_host=name.stage.com ansible_user=user
name13.prod.com                         ansible_host=name13.prod.com ansible_user=user

; project_y
name21.dev.lan                          ansible_host=192.168.1.102 ansible_user=vagrant ansible_private_key_file=~/.vagrant.d/insecure_private_key
name.stage.com-B                        ansible_host=name.stage.com ansible_user=user
name23.prod.com                         ansible_host=name23.prod.com ansible_user=user

; project_z
name31.com                              ansible_host=host31.com ansible_user=user
name32.com                              ansible_host=host32.com ansible_user=user
name33.com                              ansible_host=host33.com ansible_user=user


; project_x
[project_x_dev]
name11.dev.lan

[project_x_stage]
name.stage.com-A

[project_x_prod]
name13.prod.com

[project_x:children]
project_x_dev
project_x_stage
project_x_prod


; project_y
[project_y_dev]
name21.dev.lan

[project_y_stage]
name.stage.com-B

[project_y_prod]
name23.prod.com

[project_y:children]
project_y_dev
project_y_stage
project_y_prod


; project_z
[project_z_name31]
name31.com

[project_z_name32]
name32.com

[project_z_name33]
name33.com

[project_z:children]
project_z_name31
project_z_name32
project_z_name33
