; localhost
localhost                               ansible_host=127.0.0.1 ansible_connection=local

; projectX
name11.dev.lan                          ansible_host=192.168.1.101 ansible_user=vagrant ansible_private_key_file=~/.vagrant.d/insecure_private_key
name.stage.com-A                        ansible_host=name.stage.com ansible_user=user
name13.prod.com                         ansible_host=name13.prod.com ansible_user=user

; projectY
name21.dev.lan                          ansible_host=192.168.1.102 ansible_user=vagrant ansible_private_key_file=~/.vagrant.d/insecure_private_key
name.stage.com-B                        ansible_host=name.stage.com ansible_user=user
name23.prod.com                         ansible_host=name23.prod.com ansible_user=user

; projectZ
name31.com                              ansible_host=host31.com ansible_user=user
name32.com                              ansible_host=host32.com ansible_user=user
name33.com                              ansible_host=host33.com ansible_user=user


; projectX
[projectx_dev]
name11.dev.lan

[projectx_stage]
name.stage.com-A

[projectx_prod]
name13.prod.com

[projectx:children]
projectx_dev
projectx_stage
projectx_prod


; projectY
[projecty_dev]
name21.dev.lan

[projecty_stage]
name.stage.com-B

[projecty_prod]
name23.prod.com

[projecty:children]
projecty_dev
projecty_stage
projecty_prod


; projectZ
[projectz_name31]
name31.com

[projectz_name32]
name32.com

[projectz_name33]
name33.com

[projecty:children]
projectz_name31
projectz_name32
projectz_name33
