; localhost
localhost                               ansible_ssh_host=127.0.0.1 ansible_connection=local

; projectX
projectx.dev.lan                        ansible_ssh_host=192.168.1.101 ansible_ssh_user=vagrant ansible_ssh_private_key_file=~/.vagrant.d/insecure_private_key
projectx.stage.com-A                    ansible_ssh_host=projectx.stage.com ansible_ssh_user=user
projectx.prod.com                       ansible_ssh_host=projectx.prod.com ansible_ssh_user=user

; projectY
projecty.dev.lan                        ansible_ssh_host=192.168.1.102 ansible_ssh_user=vagrant ansible_ssh_private_key_file=~/.vagrant.d/insecure_private_key
projecty.stage.com-B                    ansible_ssh_host=projecty.stage.com ansible_ssh_user=user
projecty.prod.com                       ansible_ssh_host=projecty.prod.com ansible_ssh_user=user


; projectX
[projectx_dev]
projectx.dev.lan

[projectx_stage]
projectx.stage.com-A

[projectx_prod]
projectx.prod.com

[projectx:children]
projectx_dev
projectx_stage
projectx_prod


; projectY
[projecty_dev]
projecty.dev.lan

[projecty_stage]
projecty.stage.com-B

[projecty_prod]
projecty.prod.com

[projecty:children]
projecty_dev
projecty_stage
projecty_prod
