---
- name: "prepare project 'projectX' for '{{ env }}' environment"
  gather_facts: true
  hosts: "projectx_{{ env }}"
  tasks:
    # simple task to ensure, that required parameters are set
    - name: check if required parameters are defined
      assert:
        that:
          - "env is defined"

- import_playbook: roles/_projectx/base.yml

- import_playbook: roles/_projectx/services.yml

- import_playbook: roles/_projectx/packages.yml

- import_playbook: roles/_projectx/env_dev.yml

- import_playbook: roles/_projectx/env_stage.yml

- import_playbook: roles/_projectx/env_prod.yml
