---
- name: "prepare project 'projectX' with environment '{{ env }}'"
  gather_facts: true
  hosts: "projectx_{{ env }}"
  tasks:
    # simple task to ensure, that required parameters are set
    - name: check if required parameters are defined
      assert:
        that:
          - "env is defined"

- include: roles/_projectx/base.yml

- include: roles/_projectx/services.yml

- include: roles/_projectx/packages.yml

- include: roles/_projectx/env_dev.yml

- include: roles/_projectx/env_stage.yml

- include: roles/_projectx/env_prod.yml
