---
- name: "prepare project 'project_z' on '{{ host }}' host"
  gather_facts: true
  hosts: "project_z_{{ host }}"
  tasks:
    # simple task to ensure, that required parameters are set
    - name: check if required parameters are defined
      assert:
        that:
          - "host is defined"

- import_playbook: roles/_project_x/base.yml

- import_playbook: roles/_project_x/services.yml

- import_playbook: roles/_project_x/packages.yml

- import_playbook: roles/_project_x/host_name31.yml

- import_playbook: roles/_project_x/host_name32.yml

- import_playbook: roles/_project_x/host_name33.yml
