---
- name: add repository
  apt_repository: >
    repo=ppa:danielrichter2007/grub-customizer
    state=present
    update_cache=yes

- name: install package
  apt: >
    pkg=grub-customizer
    state=present
