---
- name: install service
  apt: >
    name=postfix
    state=present
  notify: restart postfix

- name: ensure a service is enabled and running
  service: >
    enabled=yes
    name=postfix
    state=started
