---
- name: check if plugin is enabled
  command: >
    /usr/sbin/rabbitmq-plugins list -E -m rabbitmq_management
  changed_when: false
  register: _plugin

- name: enable rabbitmq_management
  command: >
    /usr/sbin/rabbitmq-plugins enable rabbitmq_management
  when: _plugin.stdout == ""

- name: install rabbitmqadmin
  shell: >
    /usr/bin/curl -sS https://raw.githubusercontent.com/rabbitmq/rabbitmq-management/master/bin/rabbitmqadmin -o rabbitmqadmin &&
    /bin/mv rabbitmqadmin {{ rabbitmq_rabbitmqadmin_path }}
    creates="{{ rabbitmq_rabbitmqadmin_path }}"

- name: allow everyone for execute
  file: >
    group=root
    mode="0755"
    owner=root
    path="{{ rabbitmq_rabbitmqadmin_path }}"

- name: install bash completion
  shell: >
    {{ rabbitmq_rabbitmqadmin_path }} --bash-completion > /etc/bash_completion.d/rabbitmqadmin
    creates=/etc/bash_completion.d/rabbitmqadmin
