---
- name: install package
  apt: >
    force=yes
    pkg=smartmontools
    state=present

- name: install post-packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  with_items: smartmontools_post_packages
