---
- name: add repository
  apt_repository: >
    repo="ppa:libreoffice/libreoffice-{{ libreoffice_version | replace('.', '-') }}"
    state=present
    update_cache=yes

- name: install package
  apt: >
    force=yes
    pkg=libreoffice
    state=present

- name: install post-packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  with_items: libreoffice_post_packages
