---
- name: add repository
  apt_repository: >
    repo=ppa:webupd8team/unstable
    state=present
    update_cache=yes

- name: install pre-packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  with_items: "{{ asunder_pre_packages }}"

- name: install package
  apt: >
    force=yes
    pkg=asunder
    state=present
