---
- name: add gpg key
  apt_key: >
    id="{{ opera_key_id }}"
    state=present
    url="{{ opera_key_url }}"
  when: opera_key_url != false

- name: add repository
  apt_repository: >
    repo="{{ opera_repository }}"
    state=present
    update_cache=yes
  when: opera_repository != false

- name: install package
  apt: >
    name=opera
    state=present
