---
- name: create dir for config files
  file: >
    group="{{ item.0.group }}"
    mode="0755"
    owner="{{ item.0.name }}"
    path="{{ item.0.home }}/.git-templates/hooks"
    state=directory
  with_subelements:
    - "{{ git_users }}"
    - configs

- name: copy configs
  copy: >
    dest="{{ item.0.home }}/{{ item.1 }}"
    group="{{ item.0.group }}"
    mode="0644"
    owner="{{ item.0.name }}"
    src="{{ git_files_path }}{{ item.1 }}"
  with_subelements:
    - "{{ git_users }}"
    - configs
