---
- name: add gpg key
  apt_key: >
    id="{{ newrelic_key_id }}"
    state=present
    url="{{ newrelic_key_url }}"
  when: newrelic_key_url != false

- name: add repository
  apt_repository: >
    repo="{{ newrelic_repository }}"
    state=present
    update_cache=yes
  when: newrelic_repository != false

- name: install service
  apt: >
    force=yes
    pkg=newrelic-sysmond
    state=present
  notify: restart newrelic

- name: ensure a service is enabled and running
  service: >
    enabled=yes
    name=newrelic-sysmond
    state=started
