---
- name: add gpg key
  apt_key: >
    id="{{ tlp_key_id }}"
    keyserver="{{ tlp_key_keyserver }}"
    state=present
  when: tlp_key_keyserver != false

- name: add repository
  apt_repository: >
    repo="{{ tlp_repository }}"
    state=present
    update_cache=yes
  when: tlp_repository != false

- name: install packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  with_items: "{{ tlp_services }}"

- name: install post-packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  with_items: "{{ tlp_post_packages }}"
