---
- name: add gpg key
  apt_key: >
    id="{{ virtualbox_key_id }}"
    state=present
    url="{{ virtualbox_key_url }}"
  when: virtualbox_key_url != false

- name: add repositories
  apt_repository: >
    repo="{{ virtualbox_repository }}"
    state=present
    update_cache=yes
  when: virtualbox_repository != false

- name: install package
  apt: >
    force=yes
    pkg="virtualbox-{{ virtualbox_version }}"
    state=present
