---
- name: copy configs
  copy: >
    dest="{{ item.0.home }}/{{ item.1 }}"
    group="{{ item.0.group }}"
    mode="0600"
    owner="{{ item.0.name }}"
    src="{{ ansible_files_path }}{{ item.1 }}"
  with_subelements:
    - ansible_users
    - configs

- name: copy commands
  copy: >
    dest="{{ ansible_remote_path }}{{ item }}"
    group="{{ ansible_commands_group }}"
    mode="0755"
    owner="{{ ansible_commands_user }}"
    src="{{ ansible_files_path }}{{ item }}"
  with_items: ansible_commands
