---
- name: copy config files
  copy: >
    dest="{{ item.0.home }}"
    group="{{ item.0.group }}"
    mode="0600"
    owner="{{ item.0.name }}"
    src="{{ ansible_configs_path }}{{ item.1 }}"
  with_subelements:
    - ansible_users
    - configs
