---
- name: install pre-packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  when: wkhtmltox_url != false
  with_items: wkhtmltox_pre_packages

- name: install tool
  shell: >
    /usr/bin/curl -L -sS {{ wkhtmltox_url }} -o wkhtmltox.deb &&
    /usr/bin/dpkg -i wkhtmltox.deb &&
    /bin/rm wkhtmltox.deb
    creates="{{ wkhtmltox_wkhtmltopdf_path }}"
  when: wkhtmltox_url != false

- name: allow everyone for execute
  file: >
    group=root
    mode="0755"
    owner=root
    path="{{ wkhtmltox_wkhtmltopdf_path }}"
  when: wkhtmltox_url != false
