---
- name: copy commands
  copy: >
    dest="{{ common_remote_path }}{{ item }}"
    group="{{ common_commands_group }}"
    mode="0755"
    owner="{{ common_commands_user }}"
    src="{{ common_files_path }}{{ item }}"
  with_items: common_commands
