---
- name: add header for external hosts
  lineinfile: >
    dest=/etc/hosts
    insertafter=EOF
    line="# external hosts"
    state=present
  when: common_host_externals

- name: add external hosts
  lineinfile: >
    dest=/etc/hosts
    insertafter="# external hosts"
    line="{{ item.key }}    {{ item.value }}"
    regexp="^{{ item.key }}(\s*){{ item.value }}"
    state=present
  with_dict: common_host_externals

- name: add header for internal hosts
  lineinfile: >
    dest=/etc/hosts
    insertafter=EOF
    line="# internal hosts"
    state=present
  when: common_host_internals

- name: add internal hosts
  lineinfile: >
    dest=/etc/hosts
    insertafter="# internal hosts"
    line="{{ item.key }}    {{ item.value }}    {{ item.value }}{{ common_host_domain }}"
    regexp="^{{ item.key }}(\s*){{ item.value }}(\s*){{ item.value }}{{ common_host_domain }}"
    state=present
  with_dict: common_host_internals

- name: add header for website hosts
  lineinfile: >
    dest=/etc/hosts
    insertafter=EOF
    line="# website hosts"
    state=present
  when: common_host_websites

- name: add website hosts
  lineinfile: >
    dest=/etc/hosts
    insertafter="# website hosts"
    line="{{ item.key }}    {{ item.value }}{{ common_host_env }}{{ common_host_domain }}    www.{{ item.value }}{{ common_host_env }}{{ common_host_domain }}"
    regexp="^{{ item.key }}(\s*){{ item.value }}{{ common_host_env }}{{ common_host_domain }}(\s*)www.{{ item.value }}{{ common_host_env }}{{ common_host_domain }}"
    state=present
  with_dict: common_host_websites

- name: add website hosts without ip
  lineinfile: >
    dest=/etc/hosts
    insertafter="# website hosts"
    line="{{ common_host_websites_ip }}    {{ item }}{{ common_host_env }}{{ common_host_domain }}    www.{{ item }}{{ common_host_env }}{{ common_host_domain }}"
    regexp="^{{ common_host_websites_ip }}(\s*){{ item }}{{ common_host_env }}{{ common_host_domain }}(\s*)www.{{ item }}{{ common_host_env }}{{ common_host_domain }}"
    state=present
  with_items: common_host_websites_without_ip
