---
- include: include_vars.yml

- include: set_locales.yml

- include: set_timezone.yml

- include: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_pkg_mgr }}.yml"
      - default.yml
      paths:
       - ./add_sources/

- include: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_pkg_mgr }}.yml"
      - default.yml
      paths:
       - ./install_required/

- include: add_commands.yml

- include: add_hosts.yml
