---
- include: set_locales.yml

- include: set_timezone.yml

- include: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_distribution }}.yml"
      - default.yml
      paths:
       - ./add_sources/

- include: install_required.yml

- include: add_commands.yml

- include: add_hosts.yml
