---
- name: add gpg key
  apt_key: >
    id="{{ php_key_id }}"
    state=present
    url="{{ php_key_url }}"
  when: php_key_url != false

- name: add repository
  apt_repository: >
    repo="{{ php_repository }}"
    state=present
    update_cache=yes
  when: php_repository != false

- name: install package
  apt: >
    force=yes
    pkg=php5
    state=present
  notify: restart php-apache

- name: enable modules
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  notify: restart php-apache
  with_items: php_modules

- name: enable php module in apache
  apache2_module: >
    name=php5
    state=present
  notify: restart php-apache
