---
- name: copy config files
  template: >
    dest="/etc/vim/{{ item }}"
    force=yes
    group=root
    mode="0644"
    owner=root
    src="{{ vim_configs_path }}{{ item }}"
  when_items: vim_configs
