[user]
    name = User
    email = user@domain.com

[core]
    editor = vim
    excludesfile = ~/.gitignore
#    autocrlf = input
#    safecrlf = true

[push]
    default = simple

[color]
    ui = true

[alias]
    ci = commit
    co = checkout
    di = diff
    dt = difftool
    mt = mergetool
    st = status

    df = diff HEAD
    hi = log --pretty=\"format:%h %ai | %s%d [%an]\" --graph --date-order
    hist = log --pretty=\"format:%h %ai | %s%d [%an]\"
    last = log -1 HEAD
    lo = log --stat --graph --date-order
    ss = status -s
    un = reset --soft HEAD~1

[log]
    decorate = true

[difftool]
#    prompt = false

[mergetool]
    keepBackup = false
#    prompt = false

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

; local branch <=> remote repo branch
;    git remote add             demo                    git@domain.com:tests/ee/demo
;    git fetch                  demo
;    git branch --set-upstream  demo                    demo/master
;    git config                 remote.demo.push        demo:master
;    git checkout               demo
;    git pull
;
; syncing a fork
;    git remote add             upstream                https://github.com/otheruser/repo.git
;    git fetch                  upstream
;    git branch -va
;    git merge                  upstream/master
