---
- name: add repository
  apt_repository: >
    repo=ppa:otto-kesselgulasch/gimp
    state=present
    update_cache=yes

- name: install package
  apt: >
    force=yes
    pkg=gimp
    state=present
