---
- name: install package
  apt: >
    force=yes
    pkg=ruby
    state=present

- name: install post-packages
  apt: >
    force=yes
    pkg="{{ item }}"
    state=present
  with_items: ruby_post_packages
